* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #1b1b32;
}

.container {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    margin-bottom: 2rem;
}

.heading {
    width: 35rem;
    font-size: 5rem;
    font-weight: 300;
    text-align: center;
    color: #fff;
}

.input-field {
    width: 50rem;
    height: 30rem;
    background-color: #3b3b4f;
    border: solid .2rem #fff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.input-field h3 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
}

.number {
    width: 40rem;
    height: 5rem;
    background-color: #0a0a23;
    border: solid .1rem #fff;
    font-size: 3rem;
    color: #fff;
    padding: 2rem;
}

.convert-btn {
    width: 40rem;
    height: 5rem;
    cursor: pointer;
    text-decoration: none;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border: .3rem solid #feac32;
    font-size: 2.3rem;
}

.output-field {
    display: none;
    visibility: hidden;
    width: 50rem;
    height: 10rem;
    background-color: #3b3b4f;
    border: solid .2rem #fff;
    padding: 2rem;
    text-align: center;
    justify-content: space-around;
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
}

.change .output-field {
    display: block;
    visibility: visible;
}